.expanded-card {
  --background: linear-gradient(to right, #5fecff1f, #d3ffff);
  color: black; /* Color del texto negro para buen contraste */

  ion-card-header {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente, si es necesario */
  }

  ion-card-title {
    font-weight: bold; /* Aplica negrita al texto */
    color: #000000; /* Asegura que el texto sea negro puro */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
    font-family: 'Times New Roman', Courier, monospace !important; /* Cambia la fuente con mayor prioridad */
  }
}
ion-content {
  --background: linear-gradient(to right, #1778f78f, #7be4fe);
}


.button-container {
  display: flex;
  flex-direction: Horizont; /* Alinea los botones de forma vertical */
  justify-content: space-between; /* Distribuye los botones verticalmente */
  margin: 25px; /* Ajusta el margen como prefieras */
  margin-bottom: 25px; /* Espacio adicional en la parte inferior */
}



/* Aplicar estilo al ion-input dentro de ion-card-content */
ion-card-content ion-input {
  --border-color: #007bff; /* Color del borde */
  --border-style: solid; /* Estilo del borde */
  --border-width: 20px; /* Ancho del borde */
  --border-radius: 8px; /* Radio del borde redondeado */
  --background: #d5d2ec; /* Color de fondo opcional */
  --padding-start: 50px; /* Espaciado interno a la izquierda */
  --padding-end: 10px; /* Espaciado interno a la derecha */
  --margin: 10px 0; /* Margen superior e inferior */
  
}
.expanded-card ion-card-content ion-label {
  font-family: 'Times New Roman', Courier, monospace !important; /* Cambia la fuente con mayor prioridad */
  font-size: 14px;
  font-weight: bold;
  color: #333;
  text-align: left;
  margin-bottom: 8px;
}
