<ion-header>
  <ion-toolbar>
    <ion-title>Test Mini-Mental</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-card *ngIf="questions.length > 0" class="expanded-card">
      <ion-card-header>
        <ion-card-title>Sección de Orientación</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-label>{{ getCurrentQuestion() }}</ion-label>
        <div class="button-container">
          <ion-button (click)="selectAnswer(true)" expand="full">Correcto</ion-button>
          <ion-button (click)="selectAnswer(false)" expand="full" color="danger">Incorrecto</ion-button>
        </div>
        <div class="button-container">
          <ion-button (click)="goToTab1()">Volver</ion-button>
          <ion-button (click)="previousQuestion()" [disabled]="sectionIndex === 0">◀️</ion-button>
          <ion-button (click)="nextQuestion()">▶️</ion-button>
        </div>
        <div class="feedback-container">
          <ion-item *ngIf="feedback[sectionIndex]">
            <ion-label>{{ feedback[sectionIndex] }}</ion-label>
          </ion-item>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
