<ion-header>
  <ion-toolbar>
    <ion-title>Datos del Paciente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-item>
      <ion-label position="floating">Nombre del Paciente</ion-label>
      <ion-input [(ngModel)]="patientName" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fecha del Test</ion-label>
      <ion-input [(ngModel)]="testDate" type="date" required></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="goToTest()">Siguiente</ion-button>
  </div>
</ion-content>
